@model IEnumerable<Product>   //list of products
@{
	ViewData["Title"] = "Product";
}
<h2>
    <i class="bi bi-flower3"></i> Products
</h2>
<hr/>

<a class="btn btn-primary" asp-action="Add_Product">
    </><i class="bi bi-plus-lg"></i>
	</>Add Product
</a>
<div class="mt-4">
    @if (!Model.Any())  //not found products
    {
        <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
            No Products found!
        </div>
    }
    else
    {

            
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                 <div class="col-md-2 prodimage" style="background-image: url(data:image\/*;base64,@(Convert.ToBase64String(product.Prod_Image)))"></div>
                                <div class="col-md-10">
                                    <div class="card-body d-flex flex-column justify-content-between h-100">
                                        <div>
                                            <h3 class="card-title">@product.Prod_Name </h3>
                                        <p class="card-text text-justify">@(product.Prod_Description.Length > 500 ? $"{product.Prod_Description.Substring(0, 500)}..." : product.Prod_Description)</p>
                                            <h6>Price = @product.Prod_Price $ </h6>
                                              <h6>Stock = @product.Prod_Stock </h6>
                                           
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <a asp-action="Details" asp-route-id="@product.Prod_ID" class="btn btn-outline-secondary">
                                                    <i class="bi bi-ticket-detailed"></i>
                                                    Details
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@product.Prod_ID" class="btn btn-outline-primary">
                                                    <i class="bi bi-pencil"></i>
                                                    Edit
                                                </a>
                                                <a href="javascript:;" class="btn btn-danger js-delete" data-id="@product.Prod_ID">
                                                    <i class="bi bi-trash"></i>
                                                    Delete
                                                </a>
                                             </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                }
            </div>
            
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {

                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this product?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Product/Delete/' + btn.data('id'),
                                success: function () {
                                    var productContainer = btn.parents('.col-12');
                                    productContainer.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        productContainer.remove();
                                    }, 1000);

                                    toastr.success('Product deleted');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}
