@page
@model testtt.Areas.Identity.Pages.Account.Manage.OrderDetailsModel
@{
    ViewData["Title"] = "Order Details";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div>
    <h2>Order Details for Order ID: @Model.Order.Order_ID</h2>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <td>@Model.Order.Order_ID</td>
        </tr>
        <tr>
            <th>Order Date</th>
            <td>@Model.Order.Order_date.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>@Model.Order.Total_amount</td>
        </tr>
        <tr>
            <th>Shipping Address</th>
            <td>@Model.Order.Shipping_address</td>
        </tr>
        <tr>
            <th>Customer ID</th>
            <td>@Model.Order.Customer?.Id</td>
        </tr>
        <tr>
            <th>Order Status</th>
            <td>@Model.Order.Order_Status</td>
        </tr>
        @* <tr>
            <th>Total Amount Before Discount</th>
            <td>$@Model.Order.OrderDetails.Sum(p => p.Sub_Total)</td>
        </tr> *@
        <tr>
            <th>Total Amount</th>
            <td>$@Model.Order.Total_amount</td>
        </tr>
    </table>

    <h3>Order Items</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Subtotal</th>
                @* <th>Discount Rate</th> *@
                @* <th>Total</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order.OrderDetails)
            {
                <tr>
                    <td>@item.Product?.Prod_Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Unit_price</td>
                    <td>@item.Sub_Total</td>
                    @* <td>@item.Discount_rate</td> *@
                    @* <td>@item.Total</td> *@
                </tr>
            }
        </tbody>
        <tr>
            <th>Total Amount Before Discount</th>
            <td>$@Model.Order.OrderDetails.Sum(p => p.Sub_Total)</td>
        </tr>
    </table>
</div>